#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-family: "Momo Trust Display", sans-serif;
}

p {
  font-family: "Momo Trust Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #00a667;
}
